<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324951000730-c8kt764tklj4mca1j0mdmu19s44jcs8r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324951000730-c8kt764tklj4mca1j0mdmu19s44jcs8r</string>
	<key>API_KEY</key>
	<string>AIzaSyCFJ-OIJe1bXhBnUoD0tzNn1CBJGEwm7Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>324951000730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ravinduPriyankara.nsbmLms</string>
	<key>PROJECT_ID</key>
	<string>nsbm-lms</string>
	<key>STORAGE_BUCKET</key>
	<string>nsbm-lms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324951000730:ios:02fdd41fb0e3b2b2f0c123</string>
</dict>
</plist>